
.gwrap{
display:flex;
gap:20px;
overflow-x:auto;
padding:15px;
scroll-behavior:smooth;
}
.gimg{
width:260px;
height:340px;
object-fit:cover;
border-radius:25px;
box-shadow:0 0 25px rgba(255,0,140,.5);
animation:float 3s ease-in-out infinite alternate;
flex-shrink:0;
}
.gwrap::-webkit-scrollbar{
height:10px;
}
.gwrap::-webkit-scrollbar-thumb{
background:#ff4ea3;
border-radius:20px;
}
